/* Estilos gerais para background */
.background {
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

/* Tela de login */
.home-bg {
  -fx-background-image: url("../../images/backgrounds/homepage.jpg");
}

/* Telas de gerenciar aluno */
.aluno-bg {
  -fx-background-image: url("../../images/backgrounds/aluno-bg.jpg");
}

/* Telas de gerenciar perguntas */
.pergunta-bg {
  -fx-background-image: url("../../images/backgrounds/pergunta-bg.jpg");
}

/* Telas de gerenciar turmas */
.turma-bg {
  -fx-background-image: url("../../images/backgrounds/turma-bg.jpg");
}

/* Telas de criar partida */
.criar-partida-bg {
  -fx-background-image: url("../../images/backgrounds/criar-partida-bg.jpg");
}