/* Botões */

.button {
  /* cursor */
  -fx-cursor: hand;
  /* texto */
  -fx-font-weight: bold;
}

/* Tamanhos */
/* md */
.button-md {
  -fx-padding: 8px 16px;
  -fx-background-radius: 12px;
}
.button-md .text {
  -fx-font-size: 14px;
}
.button-md .image-view {
  -fx-fit-height: 20px;
  -fx-fit-width: 20px;
}
/* lg */
.button-lg {
  -fx-padding: 8px 24px;
  -fx-background-radius: 12px;
}
.button-lg .text {
  -fx-font-size: 16px;
}
.button-lg .image-view {
  -fx-fit-height: 24px;
  -fx-fit-width: 24px;
}

/* Cores */
/* Azul */
.button-azul {
  -fx-background-color: -poliedro-azul-500;
  /* Sombra (efeito de brilho) */
  -fx-effect: dropshadow(gaussian, rgba(31, 180, 195, 0.4), 15, 0, 0, 10);
}
.button-azul:hover {
  -fx-background-color: -poliedro-azul-600;
  /* Sombra */
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3);
}
.button-azul:pressed {
  -fx-background-color: -poliedro-azul-700;
}x''
.button-azul:disabled {
  -fx-background-color: -poliedro-azul-950;
  -fx-text-fill: -poliedro-azul-700;
}
/* Vermelho */
.button-vermelho {
  -fx-background-color: -poliedro-vermelho-600;
  /* Sombra (efeito de brilho) */
  -fx-effect: dropshadow(gaussian, rgba(238, 34, 82, 0.4), 15, 0, 0, 10);
}
.button-vermelho:hover {
  -fx-background-color: -poliedro-vermelho-700;
  /* Sombra */
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3);
}
.button-vermelho:pressed {
  -fx-background-color: -poliedro-vermelho-800;
}
.button-vermelho:disabled {
  -fx-background-color: -poliedro-vermelho-950;
  -fx-text-fill: -poliedro-vermelho-700;
}
/* Laranja */
.button-laranja {
  -fx-background-color: -poliedro-laranja-400;
  /* Sombra (efeito de brilho) */
  -fx-effect: dropshadow(gaussian, rgba(250, 164, 31, 0.4), 15, 0, 0, 10);
}
.button-laranja:hover {
  -fx-background-color: -poliedro-laranja-500;
  /* Sombra */
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3);
}
.button-laranja:pressed {
  -fx-background-color: -poliedro-laranja-700;
}
.button-laranja:disabled {
  -fx-background-color: -poliedro-laranja-900;
  -fx-text-fill: -poliedro-laranja-600;
}
