/* Variáveis CSS para cores */
* {
  /* Colégio Poliedro */
  /* Principal */
  -poliedro-azul: #1fb4c3;
  -poliedro-vermelho: #ee2252;
  -poliedro-laranja: #faa41f;
  /* Variação azul */
  -poliedro-azul-50: #eefdfd;
  -poliedro-azul-100: #d4f7f9;
  -poliedro-azul-200: #afeff2;
  -poliedro-azul-300: #78e1e8;
  -poliedro-azul-400: #3acad6;
  -poliedro-azul-500: -poliedro-azul;
  -poliedro-azul-600: #1c8c9e;
  -poliedro-azul-700: #1d7081;
  -poliedro-azul-800: #205c6a;
  -poliedro-azul-900: #1f4d5a;
  -poliedro-azul-950: #0f323d;
  /* Variação vermelho */
  -poliedro-vermelho-50: #fff0f1;
  -poliedro-vermelho-100: #ffe3e5;
  -poliedro-vermelho-200: #ffcad2;
  -poliedro-vermelho-300: #ff9fad;
  -poliedro-vermelho-400: #ff6982;
  -poliedro-vermelho-500: #fe355a;
  -poliedro-vermelho-600: -poliedro-vermelho;
  -poliedro-vermelho-700: #c8083a;
  -poliedro-vermelho-800: #a70a38;
  -poliedro-vermelho-900: #8e0d37;
  -poliedro-vermelho-950: #500118;
  /* Variação laranja */
  -poliedro-laranja-50: #fff9eb;
  -poliedro-laranja-100: #feedc7;
  -poliedro-laranja-200: #fdd98a;
  -poliedro-laranja-300: #fbbf4e;
  -poliedro-laranja-400: -poliedro-laranja;
  -poliedro-laranja-500: #f4840c;
  -poliedro-laranja-600: #d85f07;
  -poliedro-laranja-700: #b3400a;
  -poliedro-laranja-800: #91310f;
  -poliedro-laranja-900: #78290f;
  -poliedro-laranja-950: #451303;

  /* Zinc */
  -zinc-100: #f4f4f5;
  -zinc-200: #e4e4e7;
  -zinc-300: #d4d4d8;
  -zinc-400: #4b5154;
  -zinc-500: #586064;
  -zinc-600: #52525c;
}

/* Cor de background padrão */
.background-default {
  -fx-background-color: -zinc-200;
}
